.about {
  position: relative;

  &__list {
    @include zero;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.5px;
    color: $color-black;

    @include viewport--md {
      margin-top: 33px;
    }

    counter-reset: li-counter;

    li {
      @include zero;

      position: relative;
      width: 22%;
      counter-increment: li-counter;

      @include viewport--md {
        width: 46%;
        margin-top: 53px;
        margin-bottom: 40px;
      }

      &::before {
        content: counter(li-counter);
        position: absolute;
        top: -51px;
        left: 44%;
        width: 20px;
        height: 20px;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -1.27px;
        color: $color-accent;

        @include viewport--md {
          top: -54px;
        }
      }

      &:nth-child(-n+9)::before {
        content: "0" counter(li-counter);
      }
    }
  }
}
