.body {
  min-width: $viewport--sm;

  .wrapper {
    max-width: $viewport--xxl;
    margin: auto;
  }

  .wrapper-promo {
    background-color: $color-bg-dark;
    background-image: url("../img/bg/bike_desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/bike_desktop@2.jpg");
      background-size: auto 100%;
    }

    @include viewport--md {
      background-image: none;
      background-color: transparent;
    }
  }

  &__header {
    position: absolute;
    width: 100%;

    @include viewport--md {
      position: relative;
    }
  }

  &__promo {
    padding-top: 312px;
    padding-bottom: 239px;

    @include viewport--md {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  &__about {
    width: 80%;
    margin: auto;
    margin-top: 152px;
    margin-bottom: 115px;

    @include viewport--md {
      width: 71%;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    @include viewport--sm {
      width: 91%;
      margin-top: 20px;
      margin-bottom: 82px;
    }
  }

  &__types {
    padding-top: 149px;
    padding-bottom: 98px;

    @include viewport--md {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include viewport--sm {
      padding-bottom: 34px;
    }
  }

  &__video {
    padding-top: 121px;

    @include viewport--md {
      padding-top: 64px;
    }

    @include viewport--sm {
      padding-top: 78px;
    }
  }

  &__footer {
    margin-top: 152px;
    margin-bottom: 80px;

    @include viewport--md {
      margin-top: 64px;
      margin-bottom: 43px;
    }

    @include viewport--sm {
      margin-top: 70px;
      margin-bottom: 30px;
    }
  }
}
