.body {
  .wrapper {
    max-width: $viewport--xxl;
    margin: auto;
  }

  .wrapper-promo {
    background-color: $color-bg-dark;
    background-image: url(../img/bg/bike_desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  &__header {
    position: absolute;
    width: 100%;
  }

  &__promo {
    padding-top: 312px;
    padding-bottom: 239px;
  }

  &__about {
    width: 80%;
    margin: auto;
    margin-top: 152px;
    margin-bottom: 154px;
  }

  &__types {
    padding-top: 149px;
    padding-bottom: 128px;
  }

  &__video {
    padding-top: 121px;
  }

  &__footer {
    margin-top: 152px;
    margin-bottom: 98px;
  }
}
