.body {
  .wrapper {
    background-image: url(../img/bg/bike_desktop.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;

    max-width: $viewport--xxl;
    margin: auto;
  }

  &__promo {
    margin-top: 250px;
  }

  &__about {
    width: 80%;
    margin: auto;
    margin-top: 390px;
    margin-bottom: 154px;
  }

  &__types {
    padding-top: 150px;
    padding-bottom: 129px;
  }
}
