.contact {

  p {
    @include zero;

    width: 60%;
    margin: auto;
    margin-top: 28px;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: rgba($color-black, 0.7);

    @include viewport--md {
      width: 100%;
      margin-top: 15px;
    }

    @include viewport--sm {
      margin-top: 20px;
      padding: 0 25px;
    }
  }

  &__map-box {
    margin-top: 41px;

    @include viewport--md {
      margin-top: 20px;
    }
  }

  &__map-img {
    display: block;
    margin: auto;
  }

  &__list {
    @include zero;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 59%;
    margin: auto;
    margin-top: 38px;

    @include viewport--md {
      width: 80%;
      margin-top: 20px;
    }

    @include viewport--sm {
      justify-content: space-around;
      width: 90%;
      margin-top: 30px;
    }
  }

  &__item {
    padding-right: 17px;

    @include viewport--md {
      padding-right: 10px;
    }

    @include viewport--sm {
      margin-bottom: 18px;
      padding-right: 10px;

      &--mail {
        padding-right: 0;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
    }
  }


}
