.header {
  display: flex;
  align-items: center;

  &__wrapper {
    position: relative;
    display: flex;
    width: 60.5%;
    margin: auto;
    margin-top: 21px;

    @include viewport--md {
      width: 100%;
      margin-top: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 297px;
    left: -4px;

    @include viewport--md {
      position: relative;
      top: 25px;
      left: 22px
    }

    @include viewport--sm {
      left: 16px
    }
  }

  &__nav {
    width: 100%;
    padding-bottom: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: rgba($color-white, 0.7);
    border-bottom: 1px solid rgba($color-white, 0.2);

    @include viewport--md {
      border-bottom: none;
    }
  }

  a,
  p {
    color: $color-white;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 17px;
  }
}
