.main-nav {
  padding-bottom: 8px;

  &__wrapper {
    @include viewport--md {
      background-color: $color-white;
    }
  }

  .main-nav__list {
    @include zero;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 17px;

    @include viewport--md {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 100px 0 108px;
    }

    @include viewport--sm {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    color: rgba($color-white, 0.7);
    transition-duration: 0.3s;

    svg {
      display: none;

      @include viewport--md {
        display: inline-block;
        top: 0;
        right: 0;
      }
    }

    @include viewport--md {
      position: relative;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.35px;
      color: $color-menu-dark;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  &__toggle-open,
  &__toggle-close {
    display: none;
  }
}

.main-nav__item {
  @include viewport--md {
    margin-bottom: 30px;
    padding: 17px 16px 15px;
    background-color: $color-bg-grey;
  }
}

.main-nav__toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.main-nav--open {
  padding-bottom: 8px;

  @include viewport--md {
    z-index: 10;
    position: absolute;
    width: 100%;
    min-height: 568px;
    background-color: $color-white;

    .main-nav__toggle-close {
      display: inline-block;
    }
  }
}

.main-nav--close {
  @include viewport--md {
    display: flex;

    .main-nav__toggle-open {
      display: inline-block;
    }
  }

  .main-nav__wrapper {
    @include viewport--md {
      display: none;
    }
  }

  .main-nav__toggle {
    @include zero;

    display: none;
    width: 50px;
    height: 50px;
    background-color: $color-accent;
    border: none;

    @include viewport--md {
      display: inline-block;
      margin-left: auto;
      padding: 11px 10px 6px;
      vertical-align: middle;
    }
  }
}
