.promo {
  background-color: $color-bg-dark;
  background-image: url("../img/bg/bike_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/bike_desktop@2.jpg");
    background-size: auto 100%;
  }

  @include viewport--md {
    background-image: none;
    background-color: transparent;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 312px;
    padding-bottom: 239px;
    color: $color-white;

    @include viewport--lg {
      width: 80%;
    }

    @include viewport--md {
      width: 100%;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  &__box {
    width: 45%;
    min-width: 280px;

    @include viewport--md {
      width: 100%;
      min-width: none;
    }

    &--tagline {
      @include viewport--md {
        padding-top: 78px;
        padding-bottom: 79px;
        background-image: url("../img/bg/bike_tablet.jpg");
        background-color: $color-bg-dark;
        background-repeat: no-repeat;
        background-position: center center;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/bg/bike_tablet@2.jpg");
          background-size: auto 100%;
        }
      }

      @include viewport--sm {
        padding-top: 64px;
        padding-bottom: 69px;
        background-image: url("../img/bg/bike_mobile.jpg");
        background-size: cover;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/bg/bike_mobile@2.jpg");
          background-size: auto 100%;
        }
      }
    }

    &--form {
      width: 37.25%;

      @include viewport--md {
        padding-top: 60px;
        width: 321px;
        margin: auto;
      }

      @include viewport--sm {
        width: 288px;
      }
    }
  }

  &__tagline {
    @include zero;

    margin-top: 57px;
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: -0.005em;

    @include viewport--md {
      padding-left: 50px;
      padding-right: 50px;
      font-size: 30px;
      line-height: 42px;
      text-align: center;
    }
  }

  &__content {
    @include zero;

    margin-top: 25px;

    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: rgba($color-white, 0.8);

    @include viewport--md {
      width: 60%;
      margin: auto;
      margin-top: 20px;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }

    @include viewport--sm {
      width: 85%;
    }
  }

  &__form-content {
    @include zero;

    margin-top: 10px;

    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;

    @include viewport--md {
      font-size: 18px;
      color: $color-black;
    }
  }

  &__form {
    margin-top: 20px;

    @include viewport--md {
      margin-top: 30px;
    }

    @include viewport--sm {
      margin-top: 20px;
    }
  }
}
