.video {
  background: linear-gradient(
    to bottom,
    $color-bg-dark 87.8%,
    $color-white 87.8%);

  @include viewport--md {
    background: linear-gradient(
    to bottom,
    $color-bg-dark 83%,
    $color-white 83%);
  }

  @include viewport--sm {
    background: linear-gradient(
    to bottom,
    $color-bg-dark 88.8%,
    $color-white 88.8%);
  }

  p {
    @include zero;
    width: 25%;
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: rgba($color-white, 0.7);

    @include viewport--md {
      width: 60%;
      margin-top: 15px;
    }

    @include viewport--sm {
      width: 100%;
    }
  }

  &__content-box {
    padding: 0 10px;
  }

  &__img-box {
    position: relative;
    width: 64.5%;
    margin: auto;
    margin-top: 55px;

    @include viewport--md {
      width: 65.5%;
      margin-top: 40px;
    }

    @include viewport--sm {
      width: 90%;
      margin-top: 53px;
    }
  }

  &__img {
    display: block;
    margin: auto;
  }

  &__play {
    @include zero;

    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;

    svg {
      @include viewport--md {
        width: 90px;
        height: 90px;
      }

      @include viewport--sm {
        width: 65px;
        height: 65px;
      }
    }
  }

}
