<section class="types" id="types">
  <h2 class="section-title">Виды велосипедов</h2>
  <ul class="types__list list">
    <li class="types__item">
      <picture>
        <source type="image/webp" media="(min-width: 1024px)"  srcset="img/content/road-bike_desktop@1.webp 1x, img/content/road-bike_desktop@2.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"  srcset="img/content/road-bike_tablet@1.webp 1x, img/content/road-bike_tablet@2.webp 2x">
        <source media="(min-width: 1024px)"  srcset="img/content/road-bike_desktop@1.png 1x, img/content/road-bike_desktop@2.png 2x">
        <source media="(min-width: 768px)"  srcset="img/content/road-bike_tablet@1.png 1x, img/content/road-bike_tablet@2.pmg 2x">
          <!-- 1x: 342px; 2x:684px-->
        <img src="img/content/road-bike_tablet@1.png" srcset="img/content/road-bike_tablet@2.png 2x" width="342" height="503" alt="Дорожный велосипед">
      </picture>
      <h3 class="types__title">Дорожный велосипед</h3>
    </li>
    <li class="types__item">
      <picture>
        <source type="image/webp" media="(min-width: 1024px)"  srcset="img/content/mountain-bike_desktop@1.webp 1x, img/content/mountain-bike_desktop@2.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"  srcset="img/content/mountain-bike_tablet@1.webp 1x, img/content/mountain-bike_tablet@2.webp 2x">
        <source media="(min-width: 1024px)"  srcset="img/content/mountain-bike_desktop@1.png 1x, img/content/mountain-bike_desktop@2.png 2x">
        <source media="(min-width: 768px)"  srcset="img/content/mountain-bike_tablet@1.png 1x, img/content/mountain-bike_tablet@2.pmg 2x">
        <!-- 1x: 342px; 2x:684px-->
        <img src="img/content/mountain-bike_tablet@1.png" srcset="img/content/mountain-bike_tablet@2.png 2x" width="342" height="566" alt="Горный велосипед">
      </picture>
      <h3 class="types__title">Горный велосипед</h3>
    </li>
    <li class="types__item">
      <picture>
        <source type="image/webp" media="(min-width: 1024px)"  srcset="img/content/children-bike_desktop@1.webp 1x, img/content/children-bike_desktop@2.webp 2x">
        <source type="image/webp" media="(min-width: 768px)"  srcset="img/content/children-bike_tablet@1.webp 1x, img/content/children-bike_tablet@2.webp 2x">
        <source media="(min-width: 1024px)"  srcset="img/content/children-bike_desktop@1.png 1x, img/content/children-bike_desktop@2.png 2x">
        <source media="(min-width: 768px)"  srcset="img/content/children-bike_tablet@1.png 1x, img/content/childrenbike_tablet@2.pmg 2x">
        <!-- 1x: 342px; 2x:684px-->
        <img src="img/content/children-bike_tablet@1.png" srcset="img/content/children-bike_tablet@2.png 2x" width="342" height="513" alt="Детский велосипед">
      </picture>
      <h3 class="types__title">Детский велосипед</h3>
    </li>
  </ul>
</section>
